@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@200;500&display=swap');
@mixin reset {
    margin: 0;
    padding: 0;
}
 *{
     box-sizing: border-box;
     @include reset();
 }
$y:#FFA807;
$b:#123596;
$w:rgb(255, 255, 255);
$lb:#072FF5;

@mixin center() {
    display: flex;
    // justify-content: center;
    place-content: center;
     
}

body{
    font-family: 'Montserrat', sans-serif;
    @include reset();
    width: 100vw;
    height: auto;
    .backdrop{
        width: 100vw;
        height: 100vh;
        // margin-top: 5rem;
        background-color: rgba(0, 0, 0, 0.616);
        z-index: 1;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
    }
}
nav{
    width: 100%;
    height: 2.9rem;
    background-color: $b;
    @include center();
    position: fixed;
    z-index: 100;
    .home img{
        width: 1.3rem;
        height: 1.2rem;
        position: absolute;
        left: 60px;
        top: -33px;
       
    } &::after{
            content: "Home";
            color: $w;
            position: absolute;
            left: 86px;
            top: 15px;
            text-transform: uppercase;

        }
    .glass img{
        width: 1rem;
        height: 1rem;
        position: absolute;
        // left: 30%;
        right: 188px;
        top: -31px;
    }
    .search_bar{
        width: 14rem;
        height: 1.7rem;
        background-color: $w;
        position: absolute;
        right: 210px;
        top: 9px;
        border-radius: 1rem;
        padding: .4rem;
        text-indent: .5rem;
        color: rgba(14, 13, 13, 0.39);
        font : {
            weight: 400;
            size: .9rem;
        }
        border: none;
    }
    .bars img{
        position: absolute;
        right: 80px;
        top: -31px;
        width: 1.3rem;
        height: .9rem;
        cursor: pointer;
    }
    p{
        position: absolute;
        right: 107px;
        top: 13px;
        text-transform: uppercase;
        color: #DBD8D8;
        font : {
            family: 'Montserrat', sans-serif;
            weight: 700;
             
        }
    }
    .con{
        position: relative;
        width: 100%;
        height: 2.9rem;
    }
    
    
}
  header{
  .banner 
        {
            position: relative;
        }
    img{
         width: 100%;
         height: auto;
         margin-top: 2.9rem;
    }
         .drop_nav{
            height: 4rem;
            width: 100vw;
            background-color: $w;
            position: absolute;
            top: 2.9rem;
             transition: margin-top .3s ease-out;
             z-index: 15;
            margin-top: -9rem;
              
            
        }
       
}
main{
    display: flex;
    justify-content:space-around;
     flex-wrap: wrap;
     margin-top: 2%;
    .info img{
        width: 120%;
         
    }
    .aside img{
        width: 110%;
    }
}
 .open{
     display: block !important;
 }
 .drop_nav{ 
      display: flex;
      flex-direction: row;
      position: relative;
      flex-wrap: wrap;
          .a{
              position: absolute;
            left: 25px;
            top: 8px;
          }
          .b{
            position: absolute;
          left: 8rem;
          top: 8px;
        }
        .c{
            position: absolute;
            left: 28rem;
            top: 8px;
        }
        .d{
            position: absolute;
             left: 31rem;
             top: 8px;
        }
        .e{
            position: absolute;
             left: 40rem;
             top: 8px;
        }
        .f{
            position: absolute;
             right: 32rem;
             top: 8px;
        }
        .g{
            position: absolute;
             right: 29rem;
             top: 2.2rem;
        }
        .h{
            position: absolute;
             right: 27rem;
             top: 8px;
        }
        .i{
            position: absolute;
             left: 40rem;
             top: 2.2rem;
        }
    .j{
        position: absolute;
        left: 3rem;
        top: 2.2rem;
    }
        .k{
            position: absolute;
            left: 14rem;
            top: 2.2rem;
            
        }
        .l{
            position: absolute;
        left: 20rem;
        top: 2.2rem;
        }
        .m{
            position: absolute;
            left: 26rem;
            top: 2.2rem;
        }
        .n{
            position: absolute;
            left: 35rem;
            top: 2.2rem;
        }
        .x img{
                width: 1rem;
                height: 1rem;position: absolute;
            right: 6rem;
            top: -2rem;
            cursor: pointer;
        }
            
 }